body {
  font-size: 16px;
}

.container {
  max-width: 150%;
  margin: 0 auto;

}

.btn {
  line-height: 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: all 0.2s;

  
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px 0px #373c3c;
}

.hola {
  text-decoration: underline blue;
}

.separador{
  background-color: transparent;
  color: transparent;
}

h4{
  font-family: 'Amatic SC', cursive;
  font-size: 2.3rem;
}

p{
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
}
.btn-primary:hover{
  background-color: #E1306C;
  border-color: #E1306C;
  color: #FFFFFF;
}

.btn-primary{
  background-color: #E4405F;
  border-color: #E1306C;
  color: #FFFFFF;
}

@media (max-width: 873px) {
  .btn {
    font-size: 1rem;
  }
  .mb-0{
    font-size: 0.9rem;
  }
}


@media (max-width: 991.98px) {
  .row > div {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
}

@media (min-width: 992px) {
  .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.rounded-circle {
  border: 3px solid #7f8c8d;
  overflow: hidden;
  margin-top: 2px;
}
